---
import "@fontsource/inter";
import "@fontsource/lexend";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head class="bg-zinc-50 dark:bg-zinc-900">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script is:inline>
      const theme = (() => {
        if (
          typeof localStorage !== "undefined" &&
          localStorage.getItem("theme")
        ) {
          return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark";
        }
        return "light";
      })();

      if (theme === "light") {
        document.documentElement.classList.remove("dark");
      } else {
        document.documentElement.classList.add("dark");
      }
      window.localStorage.setItem("theme", theme);
    </script>
  </head>
  <body class="dark:bg-zinc-900 bg-zinc-50">
    <header class="w-full px-12 py-4 max-w-8xl mx-auto">
      <a
        href="/"
        class="dark:text-emerald-400 text-emerald-700 font-bold text-2xl"
      >
        API Typify
      </a>
    </header>
    <slot />
  </body>
</html>

<style is:global>
  html,
  body {
    height: 100%;
    background-color:;
  }
</style>
